/* reset */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* /reset */
/* proprietá clearfix */
.clearfix::after{
  content:"";
  display: block;
  clear:both;
}
/* /proprietá clearfix */
/* pagina completa */
.home_page{
  width:80%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}
/* /pagina completa */
/* HEADER */
            /* logo */
header img{
  width: 15%;
}
          /* /logo */
          /* barra navigazione */
.top_nav{
  margin: 30px 0;
}
.top_nav li{
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}
.top_nav li a{
  color: #858585;
  text-decoration: none;
  font-size: 15px;
}
          /* /barra navigazione */
/* /HEADER */
/* BANNER SECTION */
.banner{
  height: 450px;
  width: 100%;
  position: relative;
}
.banner img{
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}
.banner_lyric{
  width: 50%;
  color: #ffffff;
  position: absolute;
  bottom: 10%;
  left: 5%;
}
.banner_lyric h5{
  font-size: 27px;
  font-weight: 400;
}
.banner_lyric p{
  font-size: 15px;
  font-weight: 300;
}


}
/* /BANNER SECTION */
.leadership_container{
  background-color: #0286fc;
}
.leadership_title{
  height: 70px;
  background-color: #abcfe7;
  margin-bottom: 20px;
}
.col{
  height: 500px;
  background-color: #abcfe7;
  float: left;
  margin-bottom: 2%;
}
.col_1, .col_3{
  width: 20%;
}
.col_2{
  width:56%;
  margin-right: 2%;
  margin-left: 2%;
}
footer{
  height: 50px;
  background-color: #8801fe;
  margin-top: 15px;
}
