/* reset */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* /reset */
/* proprietá clearfix */
.clearfix::after{
  content:"";
  display: block;
  clear:both;
}
/* /proprietá clearfix */
/* pagina completa */
.home_page{
  width:80%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}
/* /pagina completa */
/* HEADER */
            /* logo */
header img{
  width: 15%;
}
          /* /logo */
          /* barra navigazione */
.top_nav{
  margin-top: 20px;
}
.top_nav li{
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}
.top_nav li a{
  color: #858585;
  text-decoration: none;
  font-size: 13px;
}
          /* /barra navigazione */
/* /HEADER */
header{
  background-color: #e579e6;
}
.banner{
  height: 400px;
  background-color: #e3d67a;
  margin:20px 0;
}
.leadership_container{
  background-color: #0286fc;
}
.leadership_title{
  height: 70px;
  background-color: #abcfe7;
  margin-bottom: 20px;
}
.col{
  height: 500px;
  background-color: #abcfe7;
  float: left;
  margin-bottom: 2%;
}
.col_1, .col_3{
  width: 20%;
}
.col_2{
  width:56%;
  margin-right: 2%;
  margin-left: 2%;
}
footer{
  height: 50px;
  background-color: #8801fe;
  margin-top: 15px;
}
